@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "Noto Serif", serif;
}

p {
  font-family: "Inter", sans-serif;
  color: rgba(0, 0, 0, 0.5);
}

button {
  font-family: "Inter", sans-serif;
}

.plant {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.plant img {
  max-width: 540px;
  object-fit: contain;
}

.flower-store li {
  list-style: disc;
  color: rgba(0, 0, 0, 0.5);
  font-size: 20px;
  margin-bottom: 20px;

}

.flower-store {
  padding: 1.5rem;
}

.badge {
  position: relative;
}

.badge-img {
  position: absolute;
  width: 280px;

  top: -140px;
  left: -240px;
  animation: spin 6s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width:576px) {
  .plant {
    flex-direction: column;
  }

  .plant img {
    width: 100%;
  }

  .flower-store li {
    font-size: 16px;
  }

  .badge-img {
    display: none;
  }
}