@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "Noto Serif", serif;
}

p {
  font-family: "Inter", sans-serif;
  color: rgba(0, 0, 0, 0.5);
}

button {
  font-family: "Inter", sans-serif;
}

.plant {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.plant img {
  max-width: 540px;
  object-fit: contain;
}

.flower-store li {
  list-style: disc;
  color: rgba(0, 0, 0, 0.5);
  font-size: 20px;
  margin-bottom: 20px;

}

.flower-store {
  padding: 1.5rem;
}

.badge {
  position: relative;
}

.badge-img {
  position: absolute;
  width: 280px;

  top: -140px;
  left: -240px;
  animation: spin 6s linear infinite;
}

/* ============= flower card =========== */
.flower-card {
  background-image: url(assets/deal-bloom.png);
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.flower-card-2 {
  background-image: url(assets/deal-zabo.png);

  grid-column: span 2;
  grid-row: span 2;

  object-fit: cover;
}

.flower-card-3 {
  background-image: url(assets/deal-ana.png);
}

.leatest {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  gap: 28px;
}

footer li {
  color: rgba(107, 114, 128, 1);
  line-height: 3;
  font-size: 16px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width:576px) {
  .plant {
    flex-direction: column;
  }

  .plant img {
    width: 100%;
  }

  .flower-store li {
    font-size: 16px;
  }

  .badge-img {
    display: none;
  }

  /* =========== letest -======== */
  .leatest {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .flower-card {
    grid-row: span 1;
    height: 200px;

  }

  .flower-card-2 {
    grid-row: span 1;
  }
}